@tailwind base;
@tailwind components;
@tailwind utilities;

:root { /* Цвета */
  --body-background:rgb(212, 212, 212);
  --image-border-color:rgb(177, 177, 177);
  --forms-background:white;
  --inputs-background:#d9d9d9;
  --buttons-background:black;
  --buttons-disabled-background:rgb(73, 73, 73);
  --shadow-color:rgb(0,0,0,0.5);
  --validation-color:red;
}
html, body {
  margin:0;
  padding:0;
  box-sizing:border-box;
  -webkit-user-drag:none;
  user-select:none;
  background:var(--body-background);
  font-weight:450;
  font-size:1.1em;
}
